<div *ngIf="developer" id="developer-detail">
  <button type="button" (click)="goBack()">
    <i class="fa fa-2x fa-arrow-circle-left" aria-hidden="true"></i>
  </button>
  <button type="button" (click)="saveDeveloper()">
    <i class="fa fa-2x fa-floppy-o" aria-hidden="true"></i>
  </button>
  <h2>{{ welcomeMsg }}</h2>
  <div><span>id: </span>{{developer.id}}</div>
  <div>
    <label>name:</label>
    <div class="edit-field">
    <span>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </span>
      <input type="text" [(ngModel)]="developer.name" placeholder="name">
    </div>
  </div>
  <div>
    <label>location latitude</label>
    <div class="edit-field">
      <span class="edit-field-icon">
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </span>
      <input type="number" [(ngModel)]="developer.location.latitude" placeholder="name">
    </div>
  </div>
  <div>
    <label>location longitude:</label>
    <div class="edit-field">
     <span>
      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
    </span>
      <input type="number" [(ngModel)]="developer.location.longitude" placeholder="name">
    </div>
  </div>
  <app-weather-widget></app-weather-widget>
</div>
<app-developer-location></app-developer-location>

