<div *ngIf="developer" id="developer-detail">
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="saveDeveloper()">save</button>
  <h2>{{developer.name | uppercase}} details</h2>
  <div><span>id: </span>{{developer.id}}</div>
  <div>
    <label>name:</label>
    <input type="text" [(ngModel)]="developer.name" placeholder="name">
  </div>
  <div>
    <label>location latitue:</label>
    <input type="number" [(ngModel)]="developer.location.latitude" placeholder="name">
  </div>
  <div>
    <label>location longitude:</label>
    <input type="number" [(ngModel)]="developer.location.longitude" placeholder="name">
  </div>
  <h4>location details</h4>
  <span>{{developer.location |json}}</span>
</div>
<app-developer-location></app-developer-location>
<!--<div id="maps">-->
  <!--<app-developer-location></app-developer-location>-->
<!--</div>-->
