<div *ngIf="developer" id="developer-detail">
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="saveDeveloper()">save</button>
  <h2>{{developer.name | uppercase}} details</h2>
  <div><span>id: </span>{{developer.id}}</div>
  <div>
    <label>name:</label>
    <input type="text" [(ngModel)]="developer.name" placeholder="name">
  </div>
  <h4>location details</h4>
  <span>{{developer.location |json}}</span>
</div>

<div id="maps">
  <app-developer-location></app-developer-location>
</div>
