.messages {
  display:inline-block;
  border:2px #eee solid;
  /*background-color: red;*/
  width:25%;
  position: absolute;
  top:31em;
  left:0px;
  min-height:30%;
  padding: 3px;
  margin-left:5px;
  background-color: #DDDDDD;
  z-index: -1;
  div {
    label{
      display:inline-block;
      width: 150px;
    }
    input {
      border-color: transparent;
      background: transparent;
    }
  }
  button:hover {
    background: #cfd8dc;
    cursor: pointer;
  }

  button {
    border-radius: 3px;
    height: 30px;
    border-color: transparent;
    background: transparent;
    a{
      text-decoration: none;
      font-size: 16px;
    }
    a,a:visited, a:hover {
      color: #336699;
    }
  }

}

